div#container
{
   width: 1650px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #3C5889;
   background-image: url('images/milky%2dway%2d2695569_960_720.jpg');
   background-attachment: fixed;
   background-position: center top;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#PageHeader1
{
   background-color: transparent;
   background-image: url('images/Website%2dFrontpage%2dHeader%2d02.jpg');
   background-repeat: no-repeat;
   background-position: center top;
   background-size: 100% 100%;
   border-radius: 0px;
   box-sizing: border-box;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_IconFont1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont1
{
   height: 100px;
   width: 68px;
}
#IconFont1 i
{
   color: #954F72;
   display: inline-block;
   font-size: 68px;
   line-height: 100px;
   vertical-align: middle;
   width: 76px;
}
#IconFont1:hover i
{
   color: #00AEEE;
}
#wb_Carousel1
{
   background-color: #F2F5F7;
   background-image: none;
   border-radius: 0px;
}
#Carousel1 .frame
{
   width: 1123px;
   display: inline-block;
   float: left;
   height: 239px;
}
#wb_Carousel1 .pagination
{
   bottom: 0;
   left: 0;
   position: absolute;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   z-index: 998;
}
#wb_Carousel1 .pagination a
{
   display: inline-block;
   margin: 12px 12px 12px 12px;
   width: 11px;
   height: 11px;
   cursor: pointer;
   text-indent: -999px;
   border-radius: 50%;
   background-color: #FFFFFF;
   border: 1px solid #000000;
}
#wb_Carousel1 .pagination a.active
{
   background-color: #000000;
}
#wb_Carousel1 .carousel-control-next, #wb_Carousel1 .carousel-control-prev
{
   position: absolute;
   top: 0;
   left: 0;
   color: #000000;
   cursor: pointer;
   text-align: center;
   opacity: 0.5;
}
#wb_Carousel1 .carousel-control-next-icon, #wb_Carousel1 .carousel-control-prev-icon 
{
   display: inline-block;
   width: 20px;
   height: 20px;
   background: transparent no-repeat center center;
   background-size: 100% 100%;
}
#wb_Carousel1 .carousel-control-next:focus, #wb_Carousel1 .carousel-control-next:hover, #wb_Carousel1 .carousel-control-prev:focus, #wb_Carousel1 .carousel-control-prev:hover 
{
   color: #000000;
   text-decoration: none;
   outline: 0;
   opacity: .9;
}
#wb_Carousel1 .carousel-control-prev-icon 
{
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
#wb_Carousel1 .carousel-control-next-icon 
{
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
#Carousel1_back
{
   position: absolute;
   left: 4px;
   top: 45%;
   width: 20px;
   height: 20px;
   z-index: 999;
}
#Carousel1_next
{
   position: absolute;
   right: 4px;
   top: 45%;
   width: 20px;
   height: 20px;
   z-index: 999;
}
#Carousel1_back img, #Carousel1_next img
{
   border-width: 0;
}
#Carousel1_back a, #Carousel1_next a
{
   cursor: pointer;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#PageHeader1_Container
{
   width: 1650px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_uid4
{
   background-color: #202020;
   color: #6600CC;
   font-family: "Palatino Linotype";
   font-size: 20px;
}
#wb_uid3
{
   color: #000000;
   font-family: "Calibri";
   font-size: 13px;
}
#PageHeader1
{
   position: absolute;
   text-align: center;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 112px;
   z-index: 7777;
}
#wb_Image1
{
   position: absolute;
   left: 0px;
   top: 106px;
   width: 306px;
   height: 240px;
   z-index: 5;
}
#wb_uid2
{
   background-color: #202020;
   color: #6600CC;
   font-family: "Impact";
   font-size: 24px;
}
#wb_Image2
{
   position: absolute;
   left: 306px;
   top: 105px;
   width: 509px;
   height: 240px;
   z-index: 6;
}
#wb_uid1
{
   color: #8ACF57;
   font-family: "Impact";
   font-size: 20px;
}
#wb_Image3
{
   position: absolute;
   left: 815px;
   top: 0px;
   width: 308px;
   height: 239px;
   z-index: 2;
}
#wb_uid0
{
   position: absolute;
   left: 441px;
   top: 967px;
   margin: 0;
   border-width: 0;
   z-index: 250;
}
#Carousel1
{
   position: absolute;
}
#wb_Carousel1
{
   position: absolute;
   left: 0px;
   top: 106px;
   width: 1123px;
   height: 239px;
   z-index: 4;
   overflow: hidden;
}
#wb_Text1
{
   position: absolute;
   left: 264px;
   top: 39px;
   width: 394px;
   height: 73px;
   z-index: 1;
}
#wb_Text2
{
   position: absolute;
   left: 388px;
   top: 410px;
   width: 250px;
   height: 24px;
   z-index: 7;
}
#wb_IconFont1
{
   position: absolute;
   left: 15px;
   top: 6px;
   width: 68px;
   height: 100px;
   text-align: center;
   z-index: 0;
}
