html, body, #container
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#about
{
   background-color: #000000;
   background-image: none;
   border-radius: 0px;
   margin: 0;
}
#wb_Shape1 a img
{
   position: absolute;
   left: 0;
}
#wb_Shape1 .default
{
   position: absolute;
   left: 0;
}
#wb_Shape1 a .hover
{
   visibility: hidden;
}
#wb_Shape1 a:hover .hover
{
   visibility: visible;
}
#wb_Shape1 a:hover .default
{
   visibility: hidden;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Shape1
{
   position: absolute;
   left: 404px;
   top: 215px;
   width: 163px;
   height: 39px;
   z-index: 0;
}
#wb_uid4
{
   color: #FFFFFF;
   font-family: "Trebuchet MS";
   font-size: 13px;
}
#wb_uid3
{
   color: #FFFFFF;
   font-family: "Trebuchet MS";
   font-size: 21px;
}
#wb_uid2
{
   color: #FFFFFF;
   font-family: "Trebuchet MS";
   font-size: 27px;
}
#wb_uid1
{
   border-width: 0;
   width: 163px;
   height: 39px;
}
#wb_uid0
{
   position: absolute;
   left: 441px;
   top: 967px;
   margin: 0;
   border-width: 0;
   z-index: 250;
}
#Shape1
{
   width: 163px;
   height: 39px;
}
#about
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 332px;
   float: left;
   clear: left;
   display: block;
   z-index: 3;
}
#about_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Text3
{
   position: absolute;
   left: 138px;
   top: 75px;
   width: 695px;
   height: 121px;
   text-align: center;
   z-index: 1;
}
